@model ClientManagement.DomainModel.DocumentManagementModel

<script>
    jQuery(document).ready(function () {
        Main.init();
        FormElements.init();
    });
</script>

@using (Html.BeginForm("CreateEditDocumentData", "Facilitation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.DocumentManagementId)
    @Html.HiddenFor(model => model.FacilitationId)

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Upload Documents</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="la la-remove"></span>
            </button>
        </div>
        <div class="modal-body">

            <div class="form-group row kt-margin-t-20">
                <label class="col-form-label col-lg-3 col-sm-12">Name</label>
                <div class="col-lg-9 col-md-9 col-sm-12">
                    @Html.TextBoxFor(x => x.DocumentName, new { @class = "form-control", @placeholder = "Document Name", @required = "required" })
                </div>
            </div>

            <div class="form-group row kt-margin-t-20">
                <label class="col-form-label col-lg-3 col-sm-12">Type</label>
                <div class="col-lg-9 col-md-9 col-sm-12">
                    @Html.DropDownList("DocumentTypeId", new SelectList(ClientManagement.BusinessLogic.GlobalAmin.GetDocumentTypeDataInfo(Model.DocumentTypeList), "Value", "Text", Model.DocumentTypeId), new { @class = "form-control kt_selectpicker", data_show_subtext = "true", data_live_search = "true" })
                </div>
            </div>


            <div class="form-group row kt-margin-t-20">
                <label class="col-form-label col-lg-3 col-sm-12">Description</label>
                <div class="col-lg-9 col-md-9 col-sm-12">
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = "Document Description", @required = "required" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-lg-3 col-sm-12">Upload</label>
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <div class="input-group date">
                        <input type="file" name="file" id="file" style="width: 100%;" accept="application/pdf,application/vnd.ms-excel" , required="required" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-brand kt-btn kt-btn--pill">Submit</button>
        </div>
    </div>
}

<div class="kt-portlet__separator"></div>

<table id="example" class="table table-striped- table-bordered table-hover table-checkable">
    <thead>
        <tr>
            <th>Document Name</th>
            <th>Document Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.DocumentManagementList)
        {
            <tr>
                <td style="vertical-align: middle">@item.DocumentName</td>
                <td style="vertical-align: middle">@item.DocumentType</td>

                <td style="vertical-align: middle">

                    <div class="dropdown">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-fit">
                            <ul class="kt-nav kt-margin-t-30 kt-margin-b-20">
                                <li class="kt-nav__item">
                                    <a href="@Url.Action("DownloadDocuments", "Facilitation", new { DocumentManagementId = item.DocumentManagementId })" class="kt-nav__link">
                                        <span class="kt-nav__link-text">Download</span>
                                        <span class="kt-nav__link-badge">
                                            <span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill">New</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="@Url.Action("RemoveDocument", "Facilitation", new { DocumentManagementId = item.DocumentManagementId })" class="kt-nav__link">
                                        <span class="kt-nav__link-text">Remove</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>



