@model ClientManagement.DomainModel.ClientOrderItemsModel

<script>
    jQuery(document).ready(function () {
        Main.init();
        FormElements.init();
    });
</script>

<div class="tab-content">
    <div class="panel-heading">
        <strong style="width:50px">  Total Invoice : </strong>  @Model.QuantityData
        &nbsp;&nbsp;&nbsp;
        <strong style="width:50px">  Allocated Order : </strong>  <span class="allocated">0</span>
        <div class="panel-tools">
            <input type="submit" disabled="disabled" id="submitbtn" name="submitbtn" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Assign Selected" value="Assign" onclick="SaveOrderSelected(this, event)" />
        </div>
    </div>

    <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
        <thead>
            <tr>
                <th></th>
                <th>Farmer</th>
                <th>Product</th>
                <th>Hervest Date</th>
                <th>Expiry Date</th>
                <th>Available</th>
                <th>Assigned Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ClientOrderItemsList)
            {
                <tr>
                    <td>
                        <input type="checkbox" value="@item.FarmerId" data-available="@item.Quantity" data-product="@item.ProductInfoId" class="check-box Itemcheckbox" onclick="onSelectFarmers()" />
                    </td>
                    <td>@item.Farmer</td>
                    <td>@item.Product</td>
                    <td>@item.DateCaptured.ToString("dd MMMM yyyy")</td>
                    <td>@item.ExpiryDate.ToString("dd MMMM yyyy")</td>
                    <td>@item.Quantity</td>
                    <td><input type="text" class="todeduct" value="0" disabled="disabled" /> 
                        <input type="hidden" value="@item.ProductInfoId" /></td>
                </tr>
            }

        </tbody>
    </table>
</div>

<script>

    function onSelectFarmers() {

        var total = 0;
        var required = @Model.QuantityData;
        $("input[type='text']").val(0);
        var allocated = 0;

        var checkboxItemsData = [];
        $('table [type="checkbox"]').each(function (i, chk) {
            var ItemcheckboxData = chk.value;

            if (chk.checked) {
                total = $(chk).data('available') + total;
                checkboxItemsData.push(chk);
            }
        });

        $(checkboxItemsData).each(function (i, chk) {
            var available = $(chk).data('available');
            var pers = parseFloat(available / total).toFixed(2);
            $(chk).data('percent', pers);

            var todeduct = Math.round(pers * required);

            if (available - todeduct < 0) {
                todeduct = available;
            }

            if ((allocated + todeduct) > required) {
                todeduct = todeduct - ((allocated + todeduct) - required)
            }
            console.log(pers)
            allocated += todeduct;
            $(chk).data("orderQuantity", todeduct)
            $(chk).parent().parent().find("input[type='text']").val(todeduct);
        });

        $('.allocated').html(allocated)

        if (allocated == required) {
            $('#submitbtn').prop('disabled', false);
        }
        else {
            $('#submitbtn').prop('disabled', true);
        }
    }

    function SaveOrderSelected(sender, e) {

        e.preventDefault();
        var checkboxItemsOrder = [];
        var order =[];

        $('table [type="checkbox"]').each(function (i, chk) {
            var Itemcheckbox = chk.value;
            if (chk.checked) {
                checkboxItemsOrder.push( {
                    FarmerId : parseInt(Itemcheckbox),
                    ProductInfoId : $(chk).data("product"),
                    Quantity : $(chk).data("orderQuantity"),
                    OrderId :  @Model.OrderId});
            }
        });
        debugger;
        $.ajax({
            cache: false,
            type: 'POST',
            content: "application/json; charset=utf-8",
            datatype: "json",
            data: { orderList: JSON.stringify(checkboxItemsOrder) },
            //traditional: true,
            url: '@Url.Action("SaveOrderSelected", "Order")',
            success: function (data) {
                if (data.success) {
                    $('#FarmOrderItemDetailsView').modal('hide');
                }
            }
        });
    }
</script>
