@model ClientManagement.DomainModel.SubscriptionsModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("https://code.jquery.com/jquery-3.3.1.js")"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js")"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<div class="kt-container  kt-grid__item kt-grid__item--fluid">

    <!--Begin::App-->
    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">

        <!--End:: App Aside-->
        <!--Begin:: App Content-->
        <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
            <div class="kt-portlet">
                <div class="alert alert-warning" role="alert" style="align-items:center; align-content:center">
                    <div class="alert-text" style="color:white; align-content:center; align-items:center; font-size:medium"><strong>Subscribe Details</strong> - Subscribe to receive access to frequent updates on upcoming trade related trainings, events, business seminars and more.</div>
                </div>
                @*<div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title"></h3>
                        </div>
                    </div>*@
                @*@using (Html.BeginForm("CreateRegistrations", "Registration", FormMethod.Post, new { enctype = "multipart/form-data" }))*@
                @using (Ajax.BeginForm("CreateRegistrations", "Registration", new AjaxOptions { HttpMethod = "POST", OnSuccess = "Success(this)" }, new { enctype = "multipart/form-data" }))
                {
                    <div class="kt-portlet__body">
                        <div class="kt-section kt-section--first">
                            <div class="kt-section__body">
                                <div class="row">
                                    <label class="col-xl-3"></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <h3 class="kt-section__title kt-section__title-sm">Personal Information</h3>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">First Name<span style="color:red">*</span></label>
                                    <div class="col-lg-9 col-xl-6">
                                        @Html.TextBoxFor(x => x.FirstName, new { @id = "FirstName", @class = "form-control", @placeholder = "FirstName", @required = "required" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">Surname<span style="color:red">*</span></label>
                                    <div class="col-lg-9 col-xl-6">
                                        @Html.TextBoxFor(x => x.Surname, new { @id = "Surname", @class = "form-control", @placeholder = "Surname", @required = "required" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">Woman Owned Business<span style="color:red">*</span></label>
                                    <div class="col-lg-9 col-xl-6">
                                        @Html.DropDownList("Woman_Owned_Business", new SelectList(ClientManagement.BusinessLogic.GlobalAmin.YesNoOnly(), "Value", "Text", Model.Woman_Owned_Business), new { @class = "form-control kt_selectpicker", data_show_subtext = "true", data_live_search = "true" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">Company Name<span style="color:red">*</span></label>
                                    <div class="col-lg-9 col-xl-6">
                                        @Html.TextBoxFor(x => x.CompanyName, new { @id = "CompanyName", @class = "form-control", @placeholder = "Company Name", @required = "required" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">Product/Services<span style="color:red">*</span></label>
                                    <div class="col-lg-9 col-xl-6">
                                        @Html.TextBoxFor(x => x.Product_Services, new { @id = "Product_Services", @class = "form-control", @placeholder = "Product/Services", @required = "required" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">No. of Years in Operation<span style="color:red">*</span></label>
                                    <div class="col-lg-9 col-xl-6">
                                        @Html.TextBoxFor(x => x.Years_in_Operation, new { @id = "Product_Services", @class = "form-control", @placeholder = "Product/Services", @required = "required" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">Are you an Exporter?<span style="color:red">*</span></label>
                                    <div class="col-lg-9 col-xl-6">
                                        @Html.DropDownList("Exporter", new SelectList(ClientManagement.BusinessLogic.GlobalAmin.YesNo(), "Value", "Text", Model.Exporter), new { @class = "form-control kt_selectpicker", data_show_subtext = "true", data_live_search = "true" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">Are you planning to Export?<span style="color:red">*</span></label>
                                    <div class="col-lg-9 col-xl-6">
                                        @Html.DropDownList("Planning_to_Export", new SelectList(ClientManagement.BusinessLogic.GlobalAmin.YesNo(), "Value", "Text", Model.Planning_to_Export), new { @class = "form-control kt_selectpicker", data_show_subtext = "true", data_live_search = "true" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">If yes, Which Region<span style="color:red">*</span></label>
                                    <div class="col-lg-9 col-xl-6">
                                        @Html.DropDownList("Which_Region", new SelectList(ClientManagement.BusinessLogic.GlobalAmin.GetContinent(), "Value", "Text", Model.Which_Region), new { @class = "form-control kt_selectpicker", data_show_subtext = "true", data_live_search = "true" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">Country (Multiple can be Selected)<span style="color:red">*</span></label>
                                    <div class="col-lg-9 col-xl-6">

                                        @*                                        @Html.DropDownList("Country", new SelectList(ClientManagement.BusinessLogic.GlobalAmin.GetContinent(), "Value", "Text", Model.Which_Region), new { @class = "form-control kt-select2",  id="kt_select2_11" , multiple_name="param"})*@

                                        <select class="form-control kt-select2" id="kt_select2_11" multiple name="param">
                                            <optgroup label="Select Country">
                                                <option value="AF">Afghanistan</option>
                                                <option value="AX">Åland Islands</option>
                                                <option value="AL">Albania</option>
                                                <option value="DZ">Algeria</option>
                                                <option value="AS">American Samoa</option>
                                                <option value="AD">Andorra</option>
                                                <option value="AO">Angola</option>
                                                <option value="AI">Anguilla</option>
                                                <option value="AQ">Antarctica</option>
                                                <option value="AG">Antigua and Barbuda</option>
                                                <option value="AR">Argentina</option>
                                                <option value="AM">Armenia</option>
                                                <option value="AW">Aruba</option>
                                                <option value="AU">Australia</option>
                                                <option value="AT">Austria</option>
                                                <option value="AZ">Azerbaijan</option>
                                                <option value="BS">Bahamas</option>
                                                <option value="BH">Bahrain</option>
                                                <option value="BD">Bangladesh</option>
                                                <option value="BB">Barbados</option>
                                                <option value="BY">Belarus</option>
                                                <option value="BE">Belgium</option>
                                                <option value="BZ">Belize</option>
                                                <option value="BJ">Benin</option>
                                                <option value="BM">Bermuda</option>
                                                <option value="BT">Bhutan</option>
                                                <option value="BO">Bolivia, Plurinational State of</option>
                                                <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                                <option value="BA">Bosnia and Herzegovina</option>
                                                <option value="BW">Botswana</option>
                                                <option value="BV">Bouvet Island</option>
                                                <option value="BR">Brazil</option>
                                                <option value="IO">British Indian Ocean Territory</option>
                                                <option value="BN">Brunei Darussalam</option>
                                                <option value="BG">Bulgaria</option>
                                                <option value="BF">Burkina Faso</option>
                                                <option value="BI">Burundi</option>
                                                <option value="KH">Cambodia</option>
                                                <option value="CM">Cameroon</option>
                                                <option value="CA">Canada</option>
                                                <option value="CV">Cape Verde</option>
                                                <option value="KY">Cayman Islands</option>
                                                <option value="CF">Central African Republic</option>
                                                <option value="TD">Chad</option>
                                                <option value="CL">Chile</option>
                                                <option value="CN">China</option>
                                                <option value="CX">Christmas Island</option>
                                                <option value="CC">Cocos (Keeling) Islands</option>
                                                <option value="CO">Colombia</option>
                                                <option value="KM">Comoros</option>
                                                <option value="CG">Congo</option>
                                                <option value="CD">Congo, the Democratic Republic of the</option>
                                                <option value="CK">Cook Islands</option>
                                                <option value="CR">Costa Rica</option>
                                                <option value="CI">Côte d'Ivoire</option>
                                                <option value="HR">Croatia</option>
                                                <option value="CU">Cuba</option>
                                                <option value="CW">Curaçao</option>
                                                <option value="CY">Cyprus</option>
                                                <option value="CZ">Czech Republic</option>
                                                <option value="DK">Denmark</option>
                                                <option value="DJ">Djibouti</option>
                                                <option value="DM">Dominica</option>
                                                <option value="DO">Dominican Republic</option>
                                                <option value="EC">Ecuador</option>
                                                <option value="EG">Egypt</option>
                                                <option value="SV">El Salvador</option>
                                                <option value="GQ">Equatorial Guinea</option>
                                                <option value="ER">Eritrea</option>
                                                <option value="EE">Estonia</option>
                                                <option value="ET">Ethiopia</option>
                                                <option value="FK">Falkland Islands (Malvinas)</option>
                                                <option value="FO">Faroe Islands</option>
                                                <option value="FJ">Fiji</option>
                                                <option value="FI">Finland</option>
                                                <option value="FR">France</option>
                                                <option value="GF">French Guiana</option>
                                                <option value="PF">French Polynesia</option>
                                                <option value="TF">French Southern Territories</option>
                                                <option value="GA">Gabon</option>
                                                <option value="GM">Gambia</option>
                                                <option value="GE">Georgia</option>
                                                <option value="DE">Germany</option>
                                                <option value="GH">Ghana</option>
                                                <option value="GI">Gibraltar</option>
                                                <option value="GR">Greece</option>
                                                <option value="GL">Greenland</option>
                                                <option value="GD">Grenada</option>
                                                <option value="GP">Guadeloupe</option>
                                                <option value="GU">Guam</option>
                                                <option value="GT">Guatemala</option>
                                                <option value="GG">Guernsey</option>
                                                <option value="GN">Guinea</option>
                                                <option value="GW">Guinea-Bissau</option>
                                                <option value="GY">Guyana</option>
                                                <option value="HT">Haiti</option>
                                                <option value="HM">Heard Island and McDonald Islands</option>
                                                <option value="VA">Holy See (Vatican City State)</option>
                                                <option value="HN">Honduras</option>
                                                <option value="HK">Hong Kong</option>
                                                <option value="HU">Hungary</option>
                                                <option value="IS">Iceland</option>
                                                <option value="IN">India</option>
                                                <option value="ID">Indonesia</option>
                                                <option value="IR">Iran, Islamic Republic of</option>
                                                <option value="IQ">Iraq</option>
                                                <option value="IE">Ireland</option>
                                                <option value="IM">Isle of Man</option>
                                                <option value="IL">Israel</option>
                                                <option value="IT">Italy</option>
                                                <option value="JM">Jamaica</option>
                                                <option value="JP">Japan</option>
                                                <option value="JE">Jersey</option>
                                                <option value="JO">Jordan</option>
                                                <option value="KZ">Kazakhstan</option>
                                                <option value="KE">Kenya</option>
                                                <option value="KI">Kiribati</option>
                                                <option value="KP">Korea, Democratic People's Republic of</option>
                                                <option value="KR">Korea, Republic of</option>
                                                <option value="KW">Kuwait</option>
                                                <option value="KG">Kyrgyzstan</option>
                                                <option value="LA">Lao People's Democratic Republic</option>
                                                <option value="LV">Latvia</option>
                                                <option value="LB">Lebanon</option>
                                                <option value="LS">Lesotho</option>
                                                <option value="LR">Liberia</option>
                                                <option value="LY">Libya</option>
                                                <option value="LI">Liechtenstein</option>
                                                <option value="LT">Lithuania</option>
                                                <option value="LU">Luxembourg</option>
                                                <option value="MO">Macao</option>
                                                <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                                <option value="MG">Madagascar</option>
                                                <option value="MW">Malawi</option>
                                                <option value="MY">Malaysia</option>
                                                <option value="MV">Maldives</option>
                                                <option value="ML">Mali</option>
                                                <option value="MT">Malta</option>
                                                <option value="MH">Marshall Islands</option>
                                                <option value="MQ">Martinique</option>
                                                <option value="MR">Mauritania</option>
                                                <option value="MU">Mauritius</option>
                                                <option value="YT">Mayotte</option>
                                                <option value="MX">Mexico</option>
                                                <option value="FM">Micronesia, Federated States of</option>
                                                <option value="MD">Moldova, Republic of</option>
                                                <option value="MC">Monaco</option>
                                                <option value="MN">Mongolia</option>
                                                <option value="ME">Montenegro</option>
                                                <option value="MS">Montserrat</option>
                                                <option value="MA">Morocco</option>
                                                <option value="MZ">Mozambique</option>
                                                <option value="MM">Myanmar</option>
                                                <option value="NA">Namibia</option>
                                                <option value="NR">Nauru</option>
                                                <option value="NP">Nepal</option>
                                                <option value="NL">Netherlands</option>
                                                <option value="NC">New Caledonia</option>
                                                <option value="NZ">New Zealand</option>
                                                <option value="NI">Nicaragua</option>
                                                <option value="NE">Niger</option>
                                                <option value="NG">Nigeria</option>
                                                <option value="NU">Niue</option>
                                                <option value="NF">Norfolk Island</option>
                                                <option value="MP">Northern Mariana Islands</option>
                                                <option value="NO">Norway</option>
                                                <option value="OM">Oman</option>
                                                <option value="PK">Pakistan</option>
                                                <option value="PW">Palau</option>
                                                <option value="PS">Palestinian Territory, Occupied</option>
                                                <option value="PA">Panama</option>
                                                <option value="PG">Papua New Guinea</option>
                                                <option value="PY">Paraguay</option>
                                                <option value="PE">Peru</option>
                                                <option value="PH">Philippines</option>
                                                <option value="PN">Pitcairn</option>
                                                <option value="PL">Poland</option>
                                                <option value="PT">Portugal</option>
                                                <option value="PR">Puerto Rico</option>
                                                <option value="QA">Qatar</option>
                                                <option value="RE">Réunion</option>
                                                <option value="RO">Romania</option>
                                                <option value="RU">Russian Federation</option>
                                                <option value="RW">Rwanda</option>
                                                <option value="BL">Saint Barthélemy</option>
                                                <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                                <option value="KN">Saint Kitts and Nevis</option>
                                                <option value="LC">Saint Lucia</option>
                                                <option value="MF">Saint Martin (French part)</option>
                                                <option value="PM">Saint Pierre and Miquelon</option>
                                                <option value="VC">Saint Vincent and the Grenadines</option>
                                                <option value="WS">Samoa</option>
                                                <option value="SM">San Marino</option>
                                                <option value="ST">Sao Tome and Principe</option>
                                                <option value="SA">Saudi Arabia</option>
                                                <option value="SN">Senegal</option>
                                                <option value="RS">Serbia</option>
                                                <option value="SC">Seychelles</option>
                                                <option value="SL">Sierra Leone</option>
                                                <option value="SG">Singapore</option>
                                                <option value="SX">Sint Maarten (Dutch part)</option>
                                                <option value="SK">Slovakia</option>
                                                <option value="SI">Slovenia</option>
                                                <option value="SB">Solomon Islands</option>
                                                <option value="SO">Somalia</option>
                                                <option value="ZA">South Africa</option>
                                                <option value="GS">South Georgia and the South Sandwich Islands</option>
                                                <option value="SS">South Sudan</option>
                                                <option value="ES">Spain</option>
                                                <option value="LK">Sri Lanka</option>
                                                <option value="SD">Sudan</option>
                                                <option value="SR">Suriname</option>
                                                <option value="SJ">Svalbard and Jan Mayen</option>
                                                <option value="SZ">Swaziland</option>
                                                <option value="SE">Sweden</option>
                                                <option value="CH">Switzerland</option>
                                                <option value="SY">Syrian Arab Republic</option>
                                                <option value="TW">Taiwan, Province of China</option>
                                                <option value="TJ">Tajikistan</option>
                                                <option value="TZ">Tanzania, United Republic of</option>
                                                <option value="TH">Thailand</option>
                                                <option value="TL">Timor-Leste</option>
                                                <option value="TG">Togo</option>
                                                <option value="TK">Tokelau</option>
                                                <option value="TO">Tonga</option>
                                                <option value="TT">Trinidad and Tobago</option>
                                                <option value="TN">Tunisia</option>
                                                <option value="TR">Turkey</option>
                                                <option value="TM">Turkmenistan</option>
                                                <option value="TC">Turks and Caicos Islands</option>
                                                <option value="TV">Tuvalu</option>
                                                <option value="UG">Uganda</option>
                                                <option value="UA">Ukraine</option>
                                                <option value="AE">United Arab Emirates</option>
                                                <option value="GB">United Kingdom</option>
                                                <option value="US">United States</option>
                                                <option value="UM">United States Minor Outlying Islands</option>
                                                <option value="UY">Uruguay</option>
                                                <option value="UZ">Uzbekistan</option>
                                                <option value="VU">Vanuatu</option>
                                                <option value="VE">Venezuela, Bolivarian Republic of</option>
                                                <option value="VN">Viet Nam</option>
                                                <option value="VG">Virgin Islands, British</option>
                                                <option value="VI">Virgin Islands, U.S.</option>
                                                <option value="WF">Wallis and Futuna</option>
                                                <option value="EH">Western Sahara</option>
                                                <option value="YE">Yemen</option>
                                                <option value="ZM">Zambia</option>
                                                <option value="ZW">Zimbabwe</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-xl-3"></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <h3 class="kt-section__title kt-section__title-sm">Contact Information:</h3>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">Contact Phone<span style="color:red">*</span></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone" style="color:black"></i></span></div>
                                            @Html.DropDownList("AreaId", new SelectList(ClientManagement.BusinessLogic.GlobalAmin.GetAreaDataInfo(@Model.AreaList), "Value", "Text", Model.AreaId), new { @class = "form-control kt_selectpicker", data_show_subtext = "true", data_live_search = "true" })
                                            @Html.TextBoxFor(x => x.Contact_Phone, new { @id = "CellNumber", @class = "form-control", @placeholder = "Contact Phone", @required = "required", @type = "tel", @maxlength = "10" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">Phone Number<span style="color:red">*</span></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone" style="color:black"></i></span></div>
                                            @Html.DropDownList("AreaId", new SelectList(ClientManagement.BusinessLogic.GlobalAmin.GetAreaDataInfo(@Model.AreaList), "Value", "Text", Model.AreaId), new { @class = "form-control kt_selectpicker", data_show_subtext = "true", data_live_search = "true" })
                                            @Html.TextBoxFor(x => x.Phone_Number, new { @id = "PhoneNumber", @class = "form-control", @placeholder = "Phone Number", @required = "required", @type = "tel", @maxlength = "10" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">Email Address<span style="color:red">*</span></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-at" style="color:black"></i></span></div>
                                            @Html.TextBoxFor(x => x.Email_Address, new { @type = "Email", @id = "Email", @class = "form-control", @placeholder = "Email", @required = "required" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-xl-3"></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <h3 class="kt-section__title kt-section__title-sm">Address Information:</h3>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">Address Line 1<span style="color:red">*</span></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group">
                                            @Html.TextBoxFor(x => x.Address_Line1, new { @id = "AddressLine1", @class = "form-control", @placeholder = "AddressLine1", @required = "required" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">Address Line 2<span style="color:red">*</span></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group">
                                            @Html.TextBoxFor(x => x.Address_Line2, new { @id = "AddressLine2", @class = "form-control", @placeholder = "AddressLine2", @required = "required" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">Address Line 3<span style="color:red">*</span></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group">
                                            @Html.TextBoxFor(x => x.Address_Line3, new { @id = "AddressLine3", @class = "form-control", @placeholder = "AddressLine3", @required = "required" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">Address Line 4<span style="color:red">*</span></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group">
                                            @Html.TextBoxFor(x => x.Address_Line4, new { @id = "AddressLine4", @class = "form-control", @placeholder = "AddressLine4", @required = "required" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">Is your company based within the City of Johannesburg Metro?<span style="color:red">*</span></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group">
                                            @Html.DropDownList("Company_Based", new SelectList(ClientManagement.BusinessLogic.GlobalAmin.YesNoOnly(), "Value", "Text", Model.AreaId), new { @class = "form-control kt_selectpicker", data_show_subtext = "true", data_live_search = "true" })
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">Upload Company Profile Documentation <span style="color:red">*</span></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group">
                                            <input type="file" name="file" id="file" style="width: 100%;" accept="application/pdf,application/vnd.ms-excel" , required="required" />
                                            @if (Model.Documentation != null)
                                            {
                                                <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.Documentation))" /><br /><br />
                                            }
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-3 col-xl-3">
                                    </div>
                                    <div class="col-lg-9 col-xl-9">
                                        <button type="submit" class="btn btn-outline-brand kt-btn kt-btn--pill">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>

        <!--End:: App Content-->
    </div>

    <!--End::App-->
</div>

<!--begin:: Toast markup-->
<div class="toast toast-custom toast-fill fade hide" role="alert" aria-live="assertive" aria-atomic="true" id="kt_toast_1">
    <div class="toast-header">
        <i class="toast-icon flaticon2-attention kt-font-danger"></i>
        <span class="toast-title">Employees Created</span>
    </div>
    <div class="toast-body">
        Successfully Created Employees Information
    </div>
</div>

<!--end:: Toast markup-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">


    window.addEventListener("submit", function (e) {
        var form = e.target;
        if (form.getAttribute("enctype") === "multipart/form-data") {
            if (form.dataset.ajax) {
                e.preventDefault();
                e.stopImmediatePropagation();
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        if (form.dataset.ajaxUpdate) {
                            var updateTarget = document.querySelector(form.dataset.ajaxUpdate);
                            if (updateTarget) {
                                updateTarget.innerHTML = xhr.responseText;
                            }
                        }
                    }
                };
                xhr.send(new FormData(form));
                
                swal.fire({
                        title: 'Assessment?',
                        text: "Successfully , Would you like to participate in our Assessment?",
                        type: 'success',
                        showCancelButton: false,

                        confirmButtonText: "<i class='la la-headphones'></i> Yes Please",
                        confirmButtonClass: "btn btn-danger",

                        showCancelButton: true,
                        cancelButtonText: "<i class='la la-thumbs-down'></i> No, thanks",
                        cancelButtonClass: "btn btn-default"

                    }).then(function (result) {
                        if (result.value) {
                            window.location.href = '@Url.Action("CreateAssessment", "Registration")';
                        }
                        else {
                            window.location.href = '@Url.Action("Index", "Dashboard")';
                        }
                    });               

            }
        }
        Success(data);
    }, true);

    function Success(data) {
        swal.fire({
            title: 'Assessment?',
            text: "Successfully , Would you like to participate in our Assessment?",
            type: 'success',
            showCancelButton: false,

            confirmButtonText: "<i class='la la-headphones'></i> Yes Please",
            confirmButtonClass: "btn btn-danger",

            showCancelButton: true,
            cancelButtonText: "<i class='la la-thumbs-down'></i> No, thanks",
            cancelButtonClass: "btn btn-default"

        }).then(function (result) {
            if (result.value) {
                window.location.href = '@Url.Action("CreateAssessment", "Registration")';
            }
            else {
                window.location.href = '@Url.Action("Index", "Dashboard")';
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        $('#example').DataTable();

        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });

    });
</script>



<script>



    function SubmitEmployeeDetails() {
        onBegin();
        $.ajax({
            cache: false,
            type: "GET",
            data: {

            },
            url: '@Url.Action("UpdateEmployeeDetails", "Employees")',
            success: function (data) {
                onComplete();

                window.location.href = '@Url.Action("Index", "Employees")';
            }
        });
    }
</script>

<script type="text/javascript">
    function onBegin() {
        $("#wait").css("display", "block");
    }
    function onComplete() {
        $("#wait").css("display", "none");
    }
    function OnSuccess(data) {
        alert('HTTP Status Code: ' + data.param1 + "  " + data.param2);
    }
</script>

<script>

    $('#txtUploadFile').on('change', function (e) {
        var files = e.target.files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UploadFile", "Employees", new { Id = 0 })',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {

                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });
</script>

