@model Techhill.Framework.DomainTypes.Account.UserProfileModel
@{
    Layout = "~/Views/Shared/_LayoutOne.cshtml";
}

<script src="@Url.Content("https://code.jquery.com/jquery-3.3.1.js")"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js")"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<div class="kt-grid__item kt-grid__item--fluid kt-app__content">
    <div class="kt-portlet">
        <div class="kt-portlet__head" style="text-align: center">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">Forgot Password Information</h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="kt-section kt-section--first">
                <div class="kt-section__body">

                    <div class="form-group">
                        <label>@Html.LabelFor(m => m.UserName) </label>
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "UserName", required = "required", @id = "UserName" })
                    </div>

                    <div class="form-group">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <button type="button" class="btn btn-outline-brand kt-btn kt-btn--pill" onclick="frmchangeSubmitIno()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function frmchangeSubmitIno() {

        if ($("#UserName").val() == "") {
            swal.fire("Forgot Password", "Please enter the Username", "error");
            return;
        }

        $.ajax({
            cache: false,
            type: "GET",
            data: {
                UserName: $("#UserName").val()
            },
            url: '@Url.Action("ForgotPasswordTwo", "Register")',
            success: function (data) {
                     swal.fire({
                        title: 'Successfully Submition',
                        text: "Successfully , Please check your OTP Number to reset password",
                        type: 'success',
                        showCancelButton: false,

                        confirmButtonText: "<i class='la la-headphones'></i> Got It!!",
                        confirmButtonClass: "btn btn-danger",

                    }).then(function (result) {
                        if (result.value) {
                            window.location.href = '@Url.Action("UpdateForgotPasswordOneSMS", "Register")';
                        }
                        else {
                            window.location.href = '@Url.Action("UpdateForgotPasswordOneSMS", "Register")';
                        }
                    });
            }
        });
    }
</script>






@*@model Techhill.Framework.DomainTypes.Account.UserProfileModel
    @{
        Layout = "~/Views/Shared/_LayoutOne.cshtml";
    }

    <script src="@Url.Content("https://code.jquery.com/jquery-3.3.1.js")"></script>
    <script src="@Url.Content("https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js")"></script>

        <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
            <div class="kt-portlet">
                <div class="kt-portlet__head" style="text-align: center">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Forgot Password Information</h3>
                        @if (@Model.UserProfileID != 0)
                        {
                        }
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-section kt-section--first">
                        <div class="kt-section__body">

                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.UserName) </label>
                                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "UserName", required = "required", @id = "UserName" })
                            </div>

                            <div class="form-group">
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <button type="button" class="btn btn-outline-brand kt-btn kt-btn--pill" id="kt_sweetalert_demo_7">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script>
        function frmchangeSubmit() {
            $.ajax({
                cache: false,
                type: "GET",
                data: {
                    UserName: $("#UserName").val()
                },
                url: '@Url.Action("ForgotPassword1", "Account")',
                success: function (data) {
                    window.location.href = '/Account/Login';
                }
            });
        }
    </script>*@

