@model Techhill.Framework.DomainTypes.Account.UserProfileModel
@{
    Layout = "~/Views/Shared/_LayoutOne.cshtml";
}

<script src="@Url.Content("https://code.jquery.com/jquery-3.3.1.js")"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js")"></script>

    <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
        <div class="kt-portlet">
            <div class="kt-portlet__head" style="text-align: center">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Forgot Password Information</h3>                   
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-section kt-section--first">
                    <div class="kt-section__body">
                        @using (Ajax.BeginForm("UpdateForgotPasswordOne0", "Register", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "frmchangeSubmits" }, new { id = "frmchangePasswords" }))
                        {
                            @Html.HiddenFor(m => m.UserProfileID)
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.UserName) </label>
                                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "UserName", required = "required", @id = "UserName" })
                            </div>
                            <div class="form-group">
                                <label>New Password </label>
                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Password", required = "required", @id = "Password" })
                            </div>
                            <div class="form-group">
                                <label>Confirm Password </label>
                                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder = "FirstName", required = "required", @id = "FirstName" })
                            </div>

                            <div class="form-group">
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <button type="submit" class="btn btn-outline-brand kt-btn kt-btn--pill">Submit</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function frmchangeSubmits(data) {
            if (data.Success == true) {
                swal.fire({
                        title: 'Change Password',
                    text: "Thank you, Successfully Changed Password",
                    type: 'success',
                    showCancelButton: false,
                    confirmButtonText: 'Ok'
                        }).then(function (result) {
                            if (result.value) {
                                window.location.href = '@Url.Action("Login", "Account")';
                            }
                        });
            } else {
                  swal.fire({
                        title: 'Change Password',
                    text: "Thank you, Successfully Changed Password",
                    type: 'Error',
                    showCancelButton: false,
                    confirmButtonText: 'Ok'
                        }).then(function (result) {
                            if (result.value) {
                                window.location.href = '@Url.Action("Login", "Account")';
                            }
                        });
            }
        }
    </script>