@model Techhill.Framework.DomainTypes.Account.ChangePasswordModel
<script>
    function frmchangeSubmit(data) {
        if (data.Success == true) {
            $('#changePasswordModal').modal('toggle');
        } else {
            alert(data.Error);
        }
    }
</script>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h4 class="modal-title">Change Password</h4>
        </div>

        @using (Ajax.BeginForm("ChangePassword", null, new AjaxOptions() { HttpMethod = "Post", OnSuccess = "frmchangeSubmit" }, new { id = "frmchangePassword" }))
        {

            <div class="modal-body">
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control " })
                @if (!Model.AdminReset)
                {
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                }
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm" data-dismiss="modal">
                    Close
                </button>
                <input type="submit" class="btn btn-green btn-sm" value="Save" />
            </div>
        }
    </div>
</div>

